.Button {
  width: 100px;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16pt;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  color: #282c34;
  transition: 500ms;
}

.Button:hover {
  background-color: #dddddd;
  transition: 500ms;
}

.Button:active {
  background-color: #c9c9c9;
  transition: 50ms;
}
