.GamePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #003366;
  padding-top: 25px;
  padding-bottom: 25px;
}

.title {
  color: #ffffff;
  font-size: 35pt;
}