.HomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #282c34;
}

.title {
  color: #ffffff;
  font-size: 35pt;
}